<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <h1>Index page</h1>
        <a href="/categories">see all categories</a>
        <br>
        <a href="/products"> see all products</a>
    </body>

</html>