<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/navBar') %>
            <main class="hero">
                <h1>Welcome to the Inventory</h1>
                <p>Find exactly what you need.</p>

                <a href="/products" class="nav-item">Products</a>
                <a href="/categories" class="nav-item">Categories</a>

            </main>

    </body>

</html>