<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <h1>products page</h1>
        <a href="/">Home</a>

        <ul>
            <% products.map((item)=> { %>
                <li>
                    <%= item.name %>
                </li>
            <% })%>
        </ul>
    </body>

</html>