<nav class="navbar">
    <div class="logo"><a href="/">MYSTORE</a></div>
    <div class="nav-links">
        <a href="/products" class="nav-item">Products</a>
        <a href="/categories" class="nav-item">Categories</a>
    </div>
</nav>