body {
    margin: 0;
    font-family: sans-serif;
    background: #fff;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5%;
    border-bottom: 1px solid #eee;
}

.logo a {
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    font-weight: 500;
}

.nav-item:hover {
    color: #000;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.content {
    padding: 40px 5%;
    max-width: 1000px;
    margin: 0 auto;
}

/* ----------------- Categories Page ------------------------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.category-card {
    position: relative;
    display: block;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    height: 200px;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.category-overlay h2 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.category-card:hover img {
    transform: scale(1.1);
}

.category-card:hover .category-overlay {
    background: rgba(0, 0, 0, 0.5);
}

/* ---------------- add new button ----------------- */

.btn-add-main {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #4267b2;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.btn-add-main span {
    font-size: 1.2rem;
    line-height: 1;
}

.btn-add-main:hover {
    background-color: hsl(220, 46%, 38%);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn-add-main:active {
    transform: translateY(0);
}

/* ------------------------------ Products PAGE --------------------------------  */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.product-card {
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background: #f9f9f9;
    object-position: center;
}

.product-info {
    padding: 1rem;
}

.name {
    font-size: 1.2rem;
    margin: 0;
}
.price {
    color: #2563eb;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}
.stock {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
}

/*  ---------------------- Header of filtering ----------------------- */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.filter-bar {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
}

.filter-form {
    display: flex;
    gap: 1.5rem;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-group label {
    font-size: 0.85rem;
    font-weight: bold;
    color: #666;
}

.filter-group select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 0.9rem;
}

.filter-group select:focus {
    outline: none;
    border-color: #000;
}

@media (max-width: 600px) {
    .filter-form {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .page-header {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* ---------------------------   NEW Categorie PAGE --------------------------- */

.form-wrapper {
    max-width: 500px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    border: 1px solid #eee;
    border-radius: 12px;
}

.form-subtitle {
    color: #666;
    margin-bottom: 2rem;
    font-size: var(--fs-small);
}

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: 600;
    font-size: 0.9rem;
}

.form-group input,
.form-group textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1rem;
}

.form-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-save {
    background: #1cc487;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    flex: 2;
}

.btn-cancel {
    background: #e43343;
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    text-align: center;
    flex: 1;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -----------------------  form validation list  -----------------------*/

.error-list {
    background-color: #fee2e2;
    border-left: 4px solid #ef4444;
    color: #b91c1c;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    list-style-type: disc;
    border-radius: 4px;
}

.error-list li {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}

/* --------------- Category Detail --------------------  */

.category-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0rem auto;
    padding: 1rem 2rem;
}

.category-detail {
    margin-top: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    max-width: 500px;
}
.category-detail h3 {
    font-size: 2rem;
    text-align: center;
}
.category-detail p {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 16px;
}

.imageContainer {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}
.imageContainer img {
    width: 100%;
    height: 100%;
}

.category-actions {
    display: flex;
    gap: 10px;
}

.btn {
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: bold;
}

.btn-update {
    background: #007bff;
    color: white;
}

.btn-delete {
    border: 1px solid #dc3545;
    color: #dc3545;
}

.btn:hover {
    opacity: 0.8;
}

/* -------------------------  ERROR PAGE --------------------------------------*/

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    text-align: center;
    padding: 1.5rem;
}

.error-code {
    font-size: clamp(6rem, 20vw, 12rem);
    font-weight: 900;
    color: var(--primary);
    line-height: 1;
    margin: 0;
    opacity: 0.15;
    user-select: none;
}

.error-content {
    margin-top: -3rem;
}
.error-content h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin-bottom: 0.5rem;
    color: var(--text-main);
}
.error-content p {
    color: var(--text-muted);
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 450px;
}

.btn-back {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    padding: 0.75rem 2.5rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: 600;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
}
.btn-back:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(99, 102, 241, 0.3);
}